:root {
    /* All of the colors that we can use */
    --color-light: hsl(32, 98%, 92%);
    --color-light-faded: hsla(32, 100%, 90%, 40%);
    --color-dark: hsl(32, 80%, 8%);
    --color-dark-faded: hsla(32, 80%, 8%, 40%);
    --color-blue: hsl(213, 90%, 45%);
    --color-purple: hsl(280, 90%, 45%);
    --color-light-blue: hsl(213, 85%, 75%);
    --color-light-purple: hsl(280, 84%, 75%);
}


:root {
    /* Default (light mode) */
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-link: var(--color-blue);
    --color-link-followed: var(--color-purple);
    --color-faded: var(--color-dark-faded);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode */
        --color-background: var(--color-dark);
        --color-text: var(--color-light);
        --color-link: var(--color-light-blue);
        --color-link-followed: var(--color-light-purple);
        --color-faded: var(--color-light-faded);
    }
}

@media print {
    :root {
        --color-background: white;
        --color-text: black;
    }

    .text, h2, input {
        display: none
    }

    table {
        font-size: 10pt;
    }
}

html {
    background-color: var(--color-background);
    color: var(--color-text);
}

a:link {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-followed);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    /* Use the default system-ui font, when available */
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', system-ui, sans-serif;
    margin: 15px;
}

h1 {
    /* Add a horizontal rule below the title */
    padding-bottom: .1em;
    border-bottom: 1px solid var(--color-faded);
}

table { 
    margin-left: -20px; /* Counteract border-spacing for the left */
    border-collapse: separate;
    border-spacing: 20px 2px;
    table-layout: auto;
    font-variant-numeric: tabular-nums; /* Monospaced numerals */
}

thead {
    font-weight: bold;
}

tfoot {
    font-weight: bold;
}

td:nth-of-type(3), td:nth-of-type(4), td:nth-of-type(6) {
    /* Numeric columns should be right-aligned */
    text-align: right;
}

thead tr td, tfoot tr td {
    /* Have the header/footer of the table stay in the viewport */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: var(--color-background);
    cursor: pointer;
}

tfoot tr td {
    bottom: 0;
}

thead tr td {
    top: 0;
}

.mono, pre {
    font-family: ui-monospace, Consolas, Inconsolata, "Roboto Mono", "Droid Sans Mono", "Fira Mono", monospace
}

.text {
    /* Don't want really wide text */
    max-width: 800px;
}

.container {
    /* Center all content in the viewport */
    display: grid;
    justify-items: center;
}

#filter {
    margin-left: 50px;
}

img.icon {
    height: 1em;
}

.sort-id {
    /* sort-id is only used to sort the qualities */
    display: none
}

pre {
    overflow-x: auto !important; 
    position:absolute;
    max-width: 90%;
    padding-bottom: 1ex;
    margin-top: 0;
}

html, body {
    overflow-x: hidden;
  }
